@font-face{
    font-family:SourceHanSans-Light;
    font-style:normal;
    font-weight:400;
    src:url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/fonts/SourceHanSans-Light.4bc24c.ttf);
    src:url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/fonts/SourceHanSans-Light.cebed2.eot?#iefix) format("embedded-opentype"),url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/fonts/SourceHanSans-Light.f22a62.woff) format("woff"),url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/fonts/SourceHanSans-Light.4bc24c.ttf) format("truetype"),url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/fonts/SourceHanSans-Light.ab3960.svg) format("svg")
}
html{
    -webkit-text-size-adjust:100%;
    line-height:1.15
}
body{
    margin:0
}
main{
    display:block
}
h1{
    font-size:2em;
    margin:.67em 0
}
hr{
    box-sizing:content-box;
    height:0;
    overflow:visible
}
pre{
    font-family:monospace,monospace;
    font-size:1em
}
a{
    background-color:transparent
}
abbr[title]{
    border-bottom:none;
    text-decoration:underline;
    -webkit-text-decoration:underline dotted;
    text-decoration:underline dotted
}
b,strong{
    font-weight:bolder
}
code,kbd,samp{
    font-family:monospace,monospace;
    font-size:1em
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sub{
    bottom:-.25em
}
sup{
    top:-.5em
}
img{
    border-style:none
}
button,input,optgroup,select,textarea{
    font-family:inherit;
    font-size:100%;
    line-height:1.15;
    margin:0
}
button,input{
    overflow:visible
}
button,select{
    text-transform:none
}
[type=button],[type=reset],[type=submit],button{
    -webkit-appearance:button
}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
    border-style:none;
    padding:0
}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{
    outline:1px dotted ButtonText
}
fieldset{
    padding:.35em .75em .625em
}
legend{
    box-sizing:border-box;
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal
}
progress{
    vertical-align:baseline
}
textarea{
    overflow:auto
}
[type=checkbox],[type=radio]{
    box-sizing:border-box;
    padding:0
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
    height:auto
}
[type=search]{
    -webkit-appearance:textfield;
    outline-offset:-2px
}
[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
::-webkit-file-upload-button{
    -webkit-appearance:button;
    font:inherit
}
details{
    display:block
}
summary{
    display:list-item
}
[hidden],template{
    display:none
}
html{
    background-color:#191919
}
@media only screen and (max-width:1366px){
    html{
        font-size:15px
    }
}
@media only screen and (max-width:1024px){
    html{
        font-size:14px
    }
}
@media only screen and (max-width:768px){
    html{
        font-size:13px
    }
}
@media only screen and (max-width:560px){
    html{
        font-size:12px
    }
}
@media only screen and (max-width:480px){
    html{
        font-size:11px
    }
}
@media only screen and (max-width:428px){
    html{
        font-size:10px
    }
}
@media only screen and (max-width:414px){
    html{
        font-size:9px
    }
}
@media only screen and (max-width:375px){
    html{
        font-size:8px
    }
}
@media only screen and (max-width:360px){
    html{
        font-size:7px
    }
}
@media only screen and (max-width:320px){
    html{
        font-size:6px
    }
}
@media screen and (orientation:landscape) and (max-height:968px){
    html{
        font-size:15px
    }
}
@media screen and (orientation:landscape) and (max-height:940px){
    html{
        font-size:14px
    }
}
@media screen and (orientation:landscape) and (max-height:870px){
    html{
        font-size:13px
    }
}
@media screen and (orientation:landscape) and (max-height:805px){
    html{
        font-size:12px
    }
}
@media screen and (orientation:landscape) and (max-height:745px){
    html{
        font-size:11px
    }
}
@media screen and (orientation:landscape) and (max-height:690px){
    html{
        font-size:10px
    }
}
@media screen and (orientation:landscape) and (max-height:625px){
    html{
        font-size:9px
    }
}
.svgDefs{
    display:none;
    height:0;
    position:absolute;
    width:0;
    z-index:-1
}
#root,body,html{
    height:100%;
    width:100%
}
@font-face{
    font-family:Orbitron;
    font-style:normal;
    font-weight:400;
    src:url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/fonts/Orbitron.de28a6.ttf);
    src:url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/fonts/Orbitron.b428d9.eot?#iefix) format("embedded-opentype"),url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/fonts/Orbitron.731a7b.woff) format("woff"),url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/fonts/Orbitron.de28a6.ttf) format("truetype"),url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/fonts/Orbitron.84a6d5.svg) format("svg")
}
@font-face{
    font-family:Bender-Black;
    font-style:normal;
    font-weight:400;
    src:url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/fonts/Bender-Black.ca6671.ttf);
    src:url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/fonts/Bender-Black.221575.eot?#iefix) format("embedded-opentype"),url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/fonts/Bender-Black.a5fe3c.woff) format("woff"),url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/fonts/Bender-Black.ca6671.ttf) format("truetype"),url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/fonts/Bender-Black.2bdafc.svg) format("svg")
}
.AuYo_X{
    background-image:url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/img/bg.b0aa47.jpg);
    display:flex;
    flex-direction:column;
    overflow:hidden;
    position:relative
}
.AuYo_X,.AuYo_X .yqmTM_{
    background-position:50%;
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
    width:100%
}
.AuYo_X .yqmTM_{
    background-image:url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/img/bg_object.71b914.png);
    left:0;
    pointer-events:none;
    position:absolute;
    top:0
}
.AuYo_X .pUTzfE{
    align-items:flex-end;
    display:none;
    height:100%;
    justify-content:center
}
@media screen and (orientation:portrait){
    .AuYo_X .pUTzfE{
        display:flex
    }
}
.AuYo_X .pUTzfE .XIwVJf{
    position:relative
}
.AuYo_X .pUTzfE .XIwVJf .IWGTX1{
    color:#605d60;
    height:10em;
    margin:auto
}
.AuYo_X .pUTzfE .XIwVJf .IWGTX1 svg{
    display:block;
    height:100%;
    width:auto
}
.AuYo_X .pUTzfE .XIwVJf .IWGTX1.O7yq8j{
    left:50%;
    opacity:.2;
    pointer-events:none;
    position:absolute;
    top:0;
    -webkit-transform:translate(-50%,2em) scale(.9);
    transform:translate(-50%,2em) scale(.9)
}
.AuYo_X .IaZB8s{
    align-items:center;
    display:flex;
    flex:auto;
    flex-direction:column;
    height:100%;
    justify-content:center;
    min-height:0;
    -webkit-perspective:1000;
    perspective:1000;
    position:relative
}
.AuYo_X .IaZB8s ._CnTbH,.AuYo_X .IaZB8s .JOZ7n0{
    flex:1 1
}
@media screen and (orientation:portrait){
    .AuYo_X .IaZB8s ._CnTbH,.AuYo_X .IaZB8s .JOZ7n0{
        flex:none;
        margin:5vh 0
    }
}
.AuYo_X .IaZB8s ._7zUR1{
    flex:none
}
.AuYo_X .IaZB8s .lK6Xxi{
    font-family:Orbitron;
    font-size:11.2em;
    -webkit-transform:rotateX(5deg);
    transform:rotateX(5deg);
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    white-space:nowrap
}
@media screen and (orientation:portrait){
    .AuYo_X .IaZB8s .lK6Xxi{
        font-size:18vw
    }
}
.AuYo_X .IaZB8s .lK6Xxi .O7yq8j{
    color:#272727;
    opacity:.2;
    position:absolute;
    -webkit-transform:translateY(8px) scale(.97);
    transform:translateY(8px) scale(.97)
}
.AuYo_X .IaZB8s .lK6Xxi .Cb47Uq,.AuYo_X .IaZB8s .lK6Xxi .O7yq8j{
    -webkit-mask:linear-gradient(0deg,#000 50%,transparent);
    mask:linear-gradient(0deg,#000 50%,transparent)
}
.AuYo_X .IaZB8s .lK6Xxi .Cb47Uq{
    color:#393939
}
.AuYo_X .IaZB8s .lK6Xxi .Cb47Uq .bB_65M{
    color:#272727;
    display:block;
    font-family:Bender-Black;
    font-size:.1em;
    margin-top:-1em;
    padding-left:1em;
    text-align:left
}
@media screen and (orientation:portrait){
    .AuYo_X .IaZB8s .lK6Xxi .Cb47Uq .bB_65M{
        font-size:.15em
    }
}
.Ouog6M,.t6jLdW{
    display:inline-block;
    position:relative;
    text-align:center;
    width:.8em
}
.t6jLdW{
    vertical-align:top
}
.apVlrL{
    background:rgba(0,0,0,.8);
    border-radius:.5em;
    box-shadow:0 0 10px 2px hsla(0,0%,100%,.5);
    color:#ccc;
    font-size:1em;
    left:50%;
    line-height:1.6;
    max-width:20em;
    min-width:10em;
    opacity:0;
    padding:.5em 1em;
    pointer-events:none;
    position:fixed;
    text-align:center;
    top:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%);
    transition:opacity .3s ease;
    word-break:break-all;
    z-index:999
}
.apVlrL.qKT2ZU{
    opacity:1
}
._BVAex{
    flex-direction:column;
    height:100%;
    left:0;
    pointer-events:none;
    position:absolute;
    top:0;
    width:100%;
    z-index:2
}
._BVAex,._BVAex .aTbivs,._BVAex .xAOIFM{
    box-sizing:border-box;
    display:flex;
    justify-content:space-between
}
._BVAex .aTbivs,._BVAex .xAOIFM{
    align-items:center;
    background-color:rgba(28,28,28,.8);
    padding:1em 6em
}
._BVAex .xAOIFM{
    background-image:url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/img/footer_bg.fadd8a.png);
    background-position:0;
    background-repeat:no-repeat;
    background-size:auto 100%
}
._BVAex .c_HomU{
    align-items:center;
    display:flex;
    pointer-events:all
}
._BVAex .c_HomU>*{
    flex:none
}
._BVAex .jxhIkF,._BVAex .OwUnJI{
    color:#d6d6d6
}
._BVAex .jxhIkF svg,._BVAex .OwUnJI svg{
    display:block;
    height:100%;
    width:auto
}
._BVAex .OwUnJI{
    height:3.5em
}
._BVAex .jxhIkF{
    height:3em
}
@media screen and (orientation:portrait){
    ._BVAex .aTbivs{
        background-color:rgba(0,0,0,.6);
        background-image:url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/img/footer_bg.fadd8a.png);
        background-position:0;
        background-repeat:no-repeat;
        background-size:auto 100%;
        padding:2.4vw 5vw 2.4vw 7.4vw
    }
    ._BVAex .xAOIFM{
        background-color:transparent;
        background-image:none;
        padding:1.5vw 3.3vw
    }
    ._BVAex .jxhIkF,._BVAex .OwUnJI{
        color:#fefefe;
        height:7.2vw
    }
    ._BVAex .xAOIFM{
        justify-content:flex-end
    }
    ._BVAex .jxhIkF{
        display:none
    }
}
.nyGRMr{
    width:36em
}
@media screen and (orientation:portrait){
    .nyGRMr{
        font-size:1.4em;
        width:90vw
    }
}
.nyGRMr .Ts5Yyz{
    background-color:#5a5a5a;
    color:#1d1e1c;
    cursor:pointer;
    padding:.5em;
    position:absolute;
    right:1em;
    top:1em;
    transition:background-color .3s;
    width:1.6em
}
.nyGRMr .Ts5Yyz:hover{
    background-color:#ccc
}
.nyGRMr .Ts5Yyz svg{
    display:block
}
.nyGRMr .vf0W0D{
    background-image:linear-gradient(0deg,hsla(0,0%,9%,.9),rgba(61,61,61,.9));
    height:6em
}
.nyGRMr .vf0W0D:before{
    background-color:#fdfd1f;
    content:"";
    display:block;
    height:8px;
    left:10%;
    position:absolute;
    top:1em;
    width:8px
}
.nyGRMr .hZu_9e{
    background-color:hsla(0,0%,4%,.8);
    box-sizing:border-box;
    flex-direction:column;
    min-height:200px;
    padding:1em 0
}
.nyGRMr ._RvSaL,.nyGRMr .hZu_9e{
    align-items:center;
    display:flex;
    justify-content:center
}
.nyGRMr ._RvSaL{
    background-color:hsla(0,0%,45%,.8);
    border-top:2px solid #c8c8c8;
    padding:1em 1.4em
}
@media screen and (orientation:portrait){
    .nyGRMr ._RvSaL{
        font-size:1.2em;
        padding:1em
    }
}
.nyGRMr ._RvSaL .tgjvBe{
    width:15em
}
@media screen and (orientation:portrait){
    .nyGRMr ._RvSaL .tgjvBe{
        width:12em
    }
}
.nyGRMr ._RvSaL ._BpV5U{
    margin-left:1em
}
.nyGRMr ._RvSaL .Q1CoSJ{
    width:6em
}
.nyGRMr .y1C7MJ{
    box-sizing:border-box;
    display:flex;
    font-family:SourceHanSans-Light;
    font-weight:700;
    justify-content:space-between;
    padding:.8em 2em;
    position:absolute;
    top:100%;
    width:100%
}
@media screen and (orientation:portrait){
    .nyGRMr .y1C7MJ{
        font-size:1.2em
    }
}
.nyGRMr .y1C7MJ>*{
    color:#adadad;
    cursor:pointer;
    text-decoration:none
}
.nyGRMr .y1C7MJ>:hover{
    text-decoration:underline
}
.LfYD7R{
    font-size:.8em
}
@media screen and (orientation:portrait){
    .LfYD7R{
        font-size:3vw
    }
}
.G3jSmM{
    color:#fdfd1f;
    text-decoration:underline
}
.G3jSmM:hover{
    color:#eee
}
.MCCmNL{
    color:#fdfd1f;
    font-family:SourceHanSans-Light;
    font-size:.8em;
    line-height:1.6;
    margin-bottom:2em;
    text-align:center;
    white-space:pre-wrap;
    width:70%
}
@media screen and (orientation:portrait){
    .MCCmNL{
        font-size:3vw;
        width:90%
    }
}
.osw6WK{
    color:#fff;
    font-family:SourceHanSans-Light;
    line-height:1.6;
    text-align:center;
    white-space:pre-wrap;
    width:70%
}
@media screen and (orientation:portrait){
    .osw6WK{
        font-size:4vw;
        width:90%
    }
}
.saQbxE{
    color:#fff;
    font-family:SourceHanSans-Light;
    font-size:1.4em;
    width:70%
}
@media screen and (orientation:portrait){
    .saQbxE{
        width:90%
    }
}
.saQbxE .LK6S1q{
    font-size:.8em;
    margin-bottom:.5em
}
.saQbxE .xaVhLm{
    color:#fdfd1f;
    font-size:.6em;
    height:1em;
    letter-spacing:1px;
    margin-bottom:.4em;
    margin-top:.4em;
    text-align:right
}
.saQbxE .uZ8Ed6{
    align-items:center;
    display:flex
}
.saQbxE .uZ8Ed6 .zSpk7W{
    flex:none;
    font-size:.8em;
    margin-left:1em
}
@-webkit-keyframes tSgyTf{
    0%,to{
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
    20%,60%{
        -webkit-transform:translateX(5px);
        transform:translateX(5px)
    }
    40%,80%{
        -webkit-transform:translateX(-5px);
        transform:translateX(-5px)
    }
}
@keyframes tSgyTf{
    0%,to{
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
    20%,60%{
        -webkit-transform:translateX(5px);
        transform:translateX(5px)
    }
    40%,80%{
        -webkit-transform:translateX(-5px);
        transform:translateX(-5px)
    }
}
.tSgyTf{
    -webkit-animation:tSgyTf .3s ease 1;
    animation:tSgyTf .3s ease 1
}
.mDDQs9{
    height:100%;
    left:0;
    opacity:0;
    position:fixed;
    top:0;
    visibility:hidden;
    width:100%;
    z-index:9
}
.mDDQs9.kcyI1a{
    transition:opacity .3s,visibility .3s
}
.mDDQs9.kcyI1a .lx9rht{
    transition:-webkit-transform .3s;
    transition:transform .3s;
    transition:transform .3s,-webkit-transform .3s
}
.mDDQs9.D6jwG8{
    opacity:1;
    visibility:visible
}
.mDDQs9.D6jwG8 .lx9rht{
    -webkit-transform:translate3d(-50%,-50%,0) scale(1);
    transform:translate3d(-50%,-50%,0) scale(1)
}
.mDDQs9 .I6lAwc{
    background-color:#000;
    height:100%;
    opacity:.8;
    width:100%
}
.mDDQs9 .lx9rht{
    box-shadow:0 0 2em 3px #000;
    left:50%;
    position:absolute;
    top:50%;
    -webkit-transform:translate3d(-50%,-50%,0) scale(1.2);
    transform:translate3d(-50%,-50%,0) scale(1.2)
}
.pZP2y2{
    background-color:#313131;
    color:#898989
}
@media screen and (orientation:landscape){
    .pZP2y2{
        padding:1em
    }
}
@media screen and (orientation:portrait){
    .pZP2y2{
        padding:.6em;
        text-align:right
    }
}
.BSPwfv{
    background-color:#000;
    border:none;
    box-sizing:border-box;
    color:#adadad;
    height:2.4em;
    max-height:100%;
    text-align:center;
    width:100%
}
.BSPwfv .bfVVGh{
    height:100%;
    position:relative;
    width:100%
}
.BSPwfv .bfVVGh:before{
    background-color:#fdfd1f;
    content:"";
    display:block;
    height:.5em;
    left:1em;
    position:absolute;
    top:.5em;
    width:.5em
}
.BSPwfv .Sr4Qzh{
    background-color:transparent;
    border:none;
    box-sizing:border-box;
    caret-color:#a2a6ae;
    color:#adadad;
    outline:0;
    text-align:center
}
.BSPwfv .Iw0tp1,.BSPwfv .Sr4Qzh{
    font-family:SourceHanSans-Light;
    height:100%;
    width:100%
}
.BSPwfv .Iw0tp1{
    align-items:center;
    color:#707070;
    display:flex;
    justify-content:center;
    left:0;
    pointer-events:none;
    position:absolute;
    top:0;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.BSPwfv .lUA2D9{
    background-color:#fdfd1f;
    height:2px
}
.cIuhlk{
    align-items:center;
    color:#fff;
    cursor:pointer;
    display:flex;
    font-family:SourceHanSans-Light;
    line-height:1.4;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.cIuhlk .EPJ72K{
    border:1px solid #fdfd1f;
    display:inline-block;
    flex:none;
    height:1em;
    margin-right:.6em;
    position:relative;
    transition:background-color .3s;
    width:1em
}
.cIuhlk .EPJ72K:after{
    border-color:transparent #fff #fff transparent;
    border-style:solid;
    border-width:2px;
    content:"";
    display:block;
    height:80%;
    left:0;
    opacity:0;
    position:absolute;
    top:0;
    -webkit-transform:translate3d(-40%,-20%,0) rotate(45deg);
    transform:translate3d(-40%,-20%,0) rotate(45deg);
    -webkit-transform-origin:right bottom;
    transform-origin:right bottom;
    transition:opacity .1s;
    width:30%
}
.cIuhlk .EPJ72K.VD4r39:after{
    opacity:1
}
.cIuhlk .Ngh4zy{
    color:#fdfd1f;
    text-decoration:none;
    white-space:nowrap
}
.cIuhlk .Ngh4zy:hover{
    text-decoration:underline
}
@-webkit-keyframes H3eK5c{
    10%{
        opacity:0;
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
    25%{
        opacity:.25
    }
    75%{
        opacity:.25
    }
    90%{
        opacity:0;
        -webkit-transform:translateY(-50%);
        transform:translateY(-50%)
    }
}
@keyframes H3eK5c{
    10%{
        opacity:0;
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
    25%{
        opacity:.25
    }
    75%{
        opacity:.25
    }
    90%{
        opacity:0;
        -webkit-transform:translateY(-50%);
        transform:translateY(-50%)
    }
}
.ROmmVt{
    align-items:center;
    background-color:#fdfd1f;
    border:none;
    border:1px solid rgba(0,0,0,.5);
    border-radius:100vh;
    box-shadow:0 0 0 4px #fdfd1f;
    box-sizing:border-box;
    color:#4b4b4d;
    cursor:pointer;
    display:inline-flex;
    font-family:SourceHanSans-Light;
    font-weight:700;
    height:2em;
    justify-content:center;
    outline:none;
    overflow:hidden;
    padding:0;
    position:relative;
    transition:color .3s,background-color .3s;
    white-space:nowrap;
    z-index:1
}
@media screen and (orientation:portrait){
    .ROmmVt{
        box-shadow:0 0 0 2px #fdfd1f
    }
}
.ROmmVt .pAsIxY{
    -webkit-animation:H3eK5c 8s linear infinite;
    animation:H3eK5c 8s linear infinite;
    background-image:url(https://web-cdn.hypergryph.global/endfield/official/pre/assets/img/wave_texture.0d6551.png);
    background-size:150% auto;
    height:400%;
    left:0;
    opacity:0;
    pointer-events:none;
    position:absolute;
    top:0;
    width:100%;
    z-index:-1
}
.ROmmVt.VK0MJ0{
    height:2.4em
}
.ROmmVt.tfFUxw{
    background-color:#8e8e8e;
    box-shadow:0 0 0 4px #8e8e8e;
    color:#4c4c4c
}
@media screen and (orientation:portrait){
    .ROmmVt.tfFUxw{
        box-shadow:0 0 0 2px #8e8e8e
    }
}
.ROmmVt:hover{
    background-color:rgba(94,94,94,.6);
    color:#fdfd1f
}
.ICBoZP{
    font-family:SourceHanSans-Light;
    width:36em
}
.ICBoZP a{
    color:currentColor
}
@media screen and (orientation:portrait){
    .ICBoZP{
        font-size:1.4em;
        width:90vw
    }
}
.ICBoZP .oVFSsS{
    background-color:#5a5a5a;
    color:#1d1e1c;
    cursor:pointer;
    padding:.5em;
    position:absolute;
    right:1em;
    top:1em;
    transition:background-color .3s;
    width:1.6em
}
.ICBoZP .oVFSsS:hover{
    background-color:#ccc
}
.ICBoZP .oVFSsS svg{
    display:block
}
.ICBoZP .mzooFz{
    align-items:center;
    background-image:linear-gradient(0deg,hsla(0,0%,9%,.9),rgba(61,61,61,.9));
    color:#c8c8c8;
    display:flex;
    font-size:1.4em;
    height:4em;
    justify-content:center
}
.ICBoZP .mzooFz:before{
    background-color:#fdfd1f;
    content:"";
    display:block;
    height:8px;
    left:10%;
    position:absolute;
    top:1em;
    width:8px
}
.ICBoZP .jsOn58{
    align-items:center;
    background-color:#0b0b0b;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height:200px;
    padding:2em 0
}
.gNnLcm{
    color:#fff;
    line-height:1.6;
    max-height:400px;
    overflow:auto;
    text-align:left;
    white-space:pre-wrap;
    width:90%
}
@media screen and (orientation:portrait){
    .gNnLcm{
        font-size:4vw;
        max-height:50vh;
        width:90%
    }
    .oGFk9m{
        display:block;
        font-size:2.8vw;
        margin-left:2vw
    }
}
.wCCyT7{
    background-color:rgba(0,0,0,.8);
    border:1px solid;
    border-radius:.5em;
    bottom:1em;
    box-sizing:border-box;
    color:#fff;
    display:none;
    font-family:SourceHanSans-Light;
    left:50%;
    line-height:1.6;
    padding:1em 2em;
    position:absolute;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    width:50vw
}
@media screen and (orientation:portrait){
    .wCCyT7{
        bottom:3em;
        font-size:4vw;
        padding:.5em 1em;
        width:90vw
    }
}
.wCCyT7 ._VSqeR{
    color:#fdfd1f;
    cursor:pointer;
    text-decoration:underline
}
.wCCyT7 .WdLq7F{
    display:inline-flex;
    float:right;
    font-size:.8em;
    margin-top:1em
}
.wCCyT7 .WdLq7F .gtpGES{
    border:1px solid;
    cursor:pointer;
    margin-left:1em;
    padding:.2em 1em
}
.wCCyT7 .WdLq7F .gtpGES:hover{
    color:#fdfd1f
}
.wCCyT7.h1JlxV{
    display:block
}
.KPOIR8{
    color:#898989;
    position:relative
}
.KPOIR8 .NlzkmO{
    display:none;
    height:2em;
    padding:0 .5em
}
.KPOIR8 .NlzkmO>svg{
    display:block;
    height:100%;
    width:auto
}
.KPOIR8 .CJfL4N{
    align-items:center;
    display:flex
}
.KPOIR8 .CJfL4N .UVYKpn{
    color:currentColor;
    height:1.5em;
    margin-right:1em;
    text-decoration:none;
    transition:color .3s
}
.KPOIR8 .CJfL4N .UVYKpn:hover{
    color:#fff
}
.KPOIR8 .CJfL4N .UVYKpn>svg{
    display:block;
    height:100%;
    width:auto
}
@media screen and (orientation:portrait){
    .KPOIR8 .NlzkmO{
        display:block;
        height:5vw;
        padding:0 2vw
    }
    .KPOIR8 .CJfL4N{
        background-color:rgba(0,0,0,.9);
        border-radius:3vw;
        box-sizing:border-box;
        justify-content:center;
        left:0;
        opacity:0;
        padding:1vw 4vw;
        position:fixed;
        top:0;
        -webkit-transform:translateY(-50%);
        transform:translateY(-50%);
        transition:opacity .3s,visibility .3s,-webkit-transform .3s;
        transition:opacity .3s,visibility .3s,transform .3s;
        transition:opacity .3s,visibility .3s,transform .3s,-webkit-transform .3s;
        visibility:hidden;
        width:100%;
        z-index:4
    }
    .KPOIR8 .CJfL4N .UVYKpn{
        height:7vw;
        margin-right:0;
        padding:3vw
    }
    .KPOIR8:hover .CJfL4N{
        opacity:1;
        -webkit-transform:translate(0);
        transform:translate(0);
        visibility:visible
    }
}
.mXJ0N6{
    color:currentColor;
    margin:0 1em;
    opacity:.5;
    width:4.5em
}
.mXJ0N6 svg{
    display:block;
    pointer-events:none
}
.Zondvn{
    color:#d6d6d6;
    font-family:SourceHanSans-Light;
    line-height:1;
    position:relative;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none
}
@media screen and (orientation:portrait){
    .Zondvn{
        font-size:3vw
    }
}
.Zondvn .QSSYBu{
    align-items:center;
    display:flex
}
.Zondvn .QSSYBu .LW6hXY{
    position:absolute;
    right:100%;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    width:1.8em
}
.Zondvn .QSSYBu .LW6hXY>*{
    display:block
}
.Zondvn .QSSYBu .XYB2S0{
    cursor:pointer;
    padding:1em .5em
}
.Zondvn .TlMOs_{
    background-color:rgba(0,0,0,.9);
    bottom:100%;
    min-width:100%;
    opacity:0;
    position:absolute;
    right:0;
    transition:opacity .3s,visibility .3s;
    visibility:hidden
}
.Zondvn .TlMOs_ .E3St7A{
    border-bottom:1px solid;
    color:currentColor;
    display:block;
    padding:.6em 1em;
    text-align:center;
    text-decoration:none;
    transition:color .3s,background-color .3s;
    white-space:nowrap
}
.Zondvn .TlMOs_ .E3St7A:hover{
    background-color:#999;
    color:#fff
}
.Zondvn:hover .TlMOs_{
    opacity:1;
    visibility:visible
}
